.question-answers(ng-show="question.answers_count > 0")
  .question-footer
    .row
      .col-sm-10.col-xs-12
        .answers-preview
          .answers-preview-count
            %span.answers-preview-count-number
              {{question.answers_count}}
            %span.answers-preview-count-text
              {{(question.answers_count == 1) ? 'Answer' : 'Answers'}}
          %ul.list-inline.answers-preview-avatars
            %li.answers-preview-avatar(ng-repeat="answer in question.answers")
              %img(ng-src="{{answer.rep_avatar}}")
      .col-sm-2.hidden-xs.answers-preview-expand.text-detail
        %a.question-toggle.answers-preview-expand-inner
          {{(question.expanded) ? 'Collapse' : 'Expand'}}

  .answers-expanded-container.slide-down(ng-show="question.expanded")
    %hr
    %ul.answers-expanded
      %li.answers-expanded-item(ng-repeat="answer in question.answers")
        %div.media
          %span.pull-left
            %img.media-object.answers-expanded-item-avatar(ng-src="{{answer.rep_avatar}}")
          .media-body
            .list-group-item-heading
              %a(ng-href="{{answer.user_path}}") {{answer.rep}}
              %a(ng-href="{{answer.party_path}}") ({{answer.party}})
            .list-group-item-text {{answer.body}}

    %a.btn.btn-info.btn-block(href="{{question.path}}")
      %i.fa.fa-arrow-circle-right
      More

