.row(ng-show="question.answers_count > 0")
  .col-xs-11.col-xs-offset-1(ng-hide="question.expanded")
    .answers-preview
      .answers-preview-count
        %span.answers-preview-count-number
          {{ question.answers_count }}
        %span.answers-preview-count-text
          {{ (question.answers_count == 1) ? 'Answer' : 'Answers' }}
      %ul.list-inline.answers-preview-avatars
        %li.answers-preview-avatar(ng-repeat="answer in question.answers")
          %img(ng-src="{{answer.rep_gravatar}}")
  .col-xs-11.col-xs-offset-1(ng-show="question.expanded")
    %ul.list-group
      %li.list-group-item(ng-repeat="answer in question.answers")
        %div.media
          %span.pull-left
            %img.media-object(ng-src="{{answer.rep_gravatar}}")
          .media-body
            .list-group-item-heading
              %a(href="/users/{{answer.user_id}}") {{answer.rep}}
            .list-group-item-text.comment-body {{answer.body}}
