<div class="answers">
  <div class="profile-pic span2"><%=image_tag answer.candidate_avatar %></div>
  <div class="bubble-left span4">
      <p><strong><%= answer.candidate_name %> </strong><%= answer.body %></p>
      <p class='muted'><%= answer.candidate_authorisation %></p>
      <i class="icon-thumbs-up"> Like</i>
      <a class="pull-right" data-toggle="collapse" data-target="#comments21" data-parent="#selector">
        See comments
      </a>
      <div id="comments21" class="collapse"> Here are the comments </div>
  </div>
</div>