%p
  %b Great question. So great you should probably share it...
.question-flash-share
  = link_to '#', class: 'btn btn-primary btn-facebook btn-lg login-social-btn' do
    .fa.fa-facebook.login-social-icon.fa-fw
    Share
  = link_to '#', class: 'btn btn-primary btn-twitter btn-lg login-social-btn' do
    .fa.fa-twitter.login-social-icon.fa-fw
    Tweet
