.row
  .col-xs-12.col-md-8.col-md-offset-2
    %h3.page-heading= heading
    %ul.list-group.question-list{ng_controller: 'QuestionsCtrl'}
      %li.question.list-group-item.list-group-item-clickable(ng-repeat="question in questionList")
        .row
          .col-xs-1.question-up-vote
            %i.fa.fa-chevron-up(id="vote-for-{{question.id}}" ng-class="{'fa-chevron-up-voted': question.vote_id}" ng-click="toggleVote()")
            .question-up-vote-count {{question.votes_count}}
          .col-xs-11
            %a.list-group-item-clickable-header(href="/questions/{{question.id}}") {{question.body}}
            .text-detail 
              {{question.created_at}} ago by 
              %span(ng-show="question.is_anonymous") {{question.user}}
              %a.emphasized(ng-hide="question.is_anonymous" href="/users/{{question.user_id}}") {{question.user}}
        .row(ng-show="question.answers_count > 0")
          .col-xs-11.col-xs-offset-1
            .answers-preview
              .answers-preview-count.text-detail(count="question.answers_count" when="{ '1': '1 answer'}, 'other': '{} answers'")
              %ul.list-inline.answers-preview-avatars
                %li.answers-preview-avatar(ng-repeat="answer in question.answers")

    .text-center
      = paginate @questions, theme: 'twitter-bootstrap-3'
