%a.question-filter.question-filter-first.col-xs-3.text-center{ href: root_path, ng_class: "{'question-filter-selected': #{action_name == 'trending'}}" }
  Trending
%a.question-filter.col-xs-3.text-center{ href: new_questions_path, ng_class: "{'question-filter-selected': #{action_name == 'new_questions'}}" }
  Newest
%a.question-filter.col-xs-3.text-center{ href: most_votes_path, ng_class: "{'question-filter-selected': #{action_name == 'most_votes'}}" }
  Most Votes
%a.question-filter.col-xs-3.text-center{ href: recently_answered_path, ng_class: "{'question-filter-selected': #{action_name == 'recently_answered'}}" }
  Answered