%a.question-filter.question-filter-first.col-xs-3.text-center{ href: root_path }
  Trending
%a.question-filter.col-xs-3.text-center{ href: new_questions_path }
  Newest
%a.question-filter.col-xs-3.text-center{ href: root_path }
  Best
%a.question-filter.col-xs-3.text-center{ href: root_path }
  &middot; &middot; &middot;

