.col-xs-1.question-up-vote
  %i.fa.fa-chevron-up(id="vote-for-{{question.id}}" ng-class="{'fa-chevron-up-voted': question.vote_id}" ng-click="toggleVote()")
  .question-up-vote-count {{question.votes_count}}
