<div class="span3">
  <a href="#all-questions-bg" role="button" class="btn btn-primary btn-large span12">See all the questions</a>
  <a href="#ask-modal" role="button" class="btn btn-ask  btn-large span12" data-toggle="modal">
    Ask a Question
  </a>
  <a href="#how-it-works-modal" role="button" class="btn btn-large span12" data-toggle="modal">How it works</a>
</div>
<div class="box span3">
  <div class="box-inner">
    <h4>Other recently asked questions</h4>
  </div>
    <%= render partial: 'recently_asked', collection: @recently_asked %>
</div>

