.span3#recent-buttons
  = link_to "See all the questions", questions_path, role: "button", class: "btn btn-primary btn-large btn-block"
  = link_to "Ask a Question", "#", class: "btn btn-ask btn-large btn-block disabled"
  -unless params[:action] == 'another_page'
    %a.btn.btn-large.btn-block{"data-toggle" => "modal", :href => "#how-it-works-modal", :role => "button"} How it works
.box.span3.recently-asked
  .box-inner
    %h4 Other recently asked questions
  = render partial: 'questions/recently_asked', collection: @recently_asked
/ how-it-works
#how-it-works-modal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-header.green
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
    %h4#ask-modalLabel How it works
  .modal-body
    %h3 This is an independent platform designed to make it easier for you to get to know the people standing for mayor in Wellington's local body elections.
    %br/
    #how-it-works.row-fluid.box-inner
      .span4
        #img-q>
        %p
          Anyone can ask a question for all of the six mayoral candidates.
      .span4
        #img-qmany>
        %p
          People add their vote to questions by 'liking' them.
      .span4
        #img-a>
        %p
          The top question at the end of each day will get answered by the candidates and shown on the site the next day.
  .modal-footer
    %a.btn.btn-large{href: "/#about-bg"} Learn more
    %a.btn.btn-large{"aria-hidden" => "true", "data-dismiss" => "modal"} Got it
