<div id="question-index" class="tan all-questions-bg">
  <div class="container">
    <div class="placeholder" id="all-questions-answered"></div>
    <h4>All the questions you've asked so far:</h4>
    <br>
    <div class="all-questions">
      <div class="row-fluid">
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="brand">Sort questions by:</a>
              <div class="nav-collapse collapse">
                <ul class="nav">
                  <li class=""><a href="#all-questions-answered">Answered</a></li>
                  <li><a href="#all-questions-top">Top</a></li>
                  <li><a href="#all-questions-bg">All</a></li>
                </ul>
                <form class="navbar-search pull-right">
                  <input type="text" class="search-query" placeholder="Search">
                </form>
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>
      </div>

      <div class="box list-q">
        <%= render partial: 'question', collection: @questions %>
        <% @questions.each do |question| %>
          <%= render 'question', question: question %>
        <% end %>
      </div>
      <%= paginate @questions %>
    </div>
  </div>
</div>
