<% content_for :title, "#{@question.body} | Questions for the Wellington mayoral candidates - Ask Away" %>
<% content_for :description, "#{@question.anonymous_name} asked the Wellington mayoral candidates, \"#{@question.body}\" Click to see their answers or ask them your own question." %>
<div class="all-questions-bg tan">
  <div class="placeholder"></div>
  <div class="container container-wide">
    <div class="row-fluid" id="extra-buttons-768">
      <a href="#all-questions-bg" role="button" class="btn btn-primary btn-large">See all the questions</a>
      </a>
      <a href="#how-it-works-modal" role="button" class="btn btn-large" data-toggle="modal">How it works</a>
    </div>
    <div class="row-fluid">
      <div class="span9">
      <div class="box individual-q">
        <%= render partial: 'questions/question_header', object: @question %>
      </div>
      <div class="light">
        <h4>Answers:</h4>
        <% if @answers.present? %>
          <%= render partial: 'questions/featured_question_tab', object: @question %>
        <% else %>
          <p>None of Wellington's mayoral candidates have answered this question yet. <br><br>If you want it to get answered, like and share the question to show the candidates it's important to you.</p><br>
        <% end %>
      </div>
      <div>
        <h4>What do you think?</h4>
        <div class="fb-comments row-fluid" data-href="<%= facebook_link(@question) %>" data-width="500"></div>
      </div>
    </div>
    <%= render partial: 'recently_asked_sidebar' %>
  </div>
  </div>
  <div class="placeholder"></div><div class="placeholder"></div>
</div>
</div>
</div>







