<div class="container">
  <div class="placeholder"></div>
  <p>Thanks for contributing!<br><br>
  We'll check over your question before we publish it, and won't publish anything offensive or too similar to questions that have already been asked.<br><br>
  Sit tight, and when your question is live on the site we'll send you a link so that you can share it with your family and friends and get them to vote it up.<br><br>
   <%= link_to "Back to the questions", questions_path, role: "button", class: "btn" %>
   <div class="placeholder"></div>
 </div>