%h1 Trending questions
%ul.list-group
  - @questions.each do |question|
    %li.list-group-item.question
      .row
        .col-xs-1.up-vote
          %a
            %i.fa.fa-chevron-up
          %span.vote-count=question.vote_count
        .col-xs-11
          .question-body= link_to question.body, question
          .question-asker= asked_by_at_time_ago(question)
          - if question.answers_count > 0
            .answers
              .answer-count=pluralize(question.answers_count, "answer")
              %ul.list-inline.answer-list
                - question.answers.each do |answer|
                  %li.answer
          .row.share
            .col-xs-4
              %i.fa.fa-comment
              =question.comments_count
            .col-xs-4
              %i.fa.fa-facebook
              Share
            .col-xs-4
              %i.fa.fa-twitter
              Tweet
