= simple_form_for(@invite_reps_form, url: invite_reps_party_path) do |f|
  = f.input :emails, as: :text
  = f.submit 'Invite', class: 'btn btn-primary', id: 'invite-btn', data: { :'disable-with' => 'Invite' }

