%h1= @party.name

%h2 Reps
%ul.reps-list
- @party.rep_users.each do |rep|
  %li= rep.name
- if current_user && (current_user.is_admin? || current_user.is_rep_for?(@party))
  = link_to "Invite reps", new_reps_party_path(@party), class: 'btn btn-default'
  - if (invitations_count = @party.pending_invitations.count) > 0
    = link_to pluralize(@party.pending_invitations.count, 'pending invitation'), invited_reps_party_path(@party), class: 'secondary-link'

