.question-answers(ng-class='{"no-answers": question.answers_count === 0}')
  .question-footer
    .row
      .col-sm-10.col-xs-12(ng-show="question.answers_count > 0")
        .answers-preview
          .answers-preview-count
            %span.answers-preview-count-number
              {{question.answers_count}}
            %span.answers-preview-count-text
              {{(question.answers_count == 1) ? 'Answer' : 'Answers'}}
          %ul.list-inline.answers-preview-avatars
            %li.answers-preview-avatar(ng-repeat="answer in question.answers")
              %img.answers-preview-rep-avatar(ng-src="{{answer.rep_avatar}}")
              .answers-preview-party-avatar
                %img(ng-src="{{answer.party_avatar}}")
      .col-sm-2.hidden-xs(ng-show="question.answers_count > 0")
        = render 'questions/question_list/expand_question'

  .answers-expanded-container.slide-down(ng-show="question.expanded")
    %hr(ng-show="question.answers_count > 0")
    = render 'answers/answers_expanded'
    = render 'answers/form'


    %a.btn.btn-grey.btn-block(href="{{question.path}}" ng-class="{'answers-expanded-see-comments-padded': question.answers_count === 0}")
      %i.fa.fa-arrow-circle-right
      -# TODO: show number of comments here: "See 1 comment"
      See comments

