%div.media
  %span.pull-left
    %img.media-object.avatar.comment-avatar{src: current_user.avatar_url }
  %div.media-body
    = simple_form_for [@question, @comment] do |f|
      = f.input :body, placeholder: "Join the conversation...", label: false
      = f.button :submit, 'Post comment', class: "btn btn-primary", data: {disable_with: 'Post comment'}
