= simple_form_for [@question, @comment] do |f|
  = f.input :body, placeholder: "Join the conversation...", label: false
  = f.button :submit, 'Post comment', class: "btn btn-primary btn-ask", data: {disable_with: 'Post comment'}
