= simple_form_for [@question, @comment] do |f|
  = f.input :body, placeholder: "Write a comment...", label: false
  = f.button :submit, 'Post comment', class: "btn btn-primary", data: {disable_with: 'Post comment'}
