%div.media
  %span.pull-left
    %img.media-object{src: comment.user.gravatar_url }
  %div.media-body
    .comment-user-name= comment.user.name
    .text-detail
      %small= time_ago_in_words(comment.created_at)
    %p.comment-body= comment.body

