%div.media.comment(ng-repeat="comment in question.comments")
  %span.pull-left
    %img.media-object.avatar.comment-avatar(ng-src="{{comment.user_avatar}}")
  %div.media-body
    .comment-name
      %a(ng-href="{{comment.user_path}}" ng-bind-html="comment.user_name")
      .comment-detail.text-detail
        {{ comment.updated_at }} ago
        %span(ng-show="comment.can_delete")
          ·
          %a(ng-href="{{comment.path}}" data-method="delete" rel="nofollow") Delete
    .comment-body(ng-bind-html="comment.body | linky")

