.row
  .col-xs-12.col-md-8.col-md-offset-2.alert-flash-col
    .alert.alert-success
      Search Results for:
      %strong #{params[:q]}
- if @questions.any?
  = render 'questions/question_list', hide_filters: true
- else
  .row
    .questions.col-question-list.col-xs-12.col-md-8.col-md-offset-2.font-small
      %ul.list-group.question-list
        %li.question.list-group-item
          %em.text-muted No results
