<div id="footers" class="sides">
  <div class="container">
    <footer>
      <div class="placeholder"></div>
      <div id="massey">
        <%= image_tag 'Massey-logo.jpg' %>
      </div><br>
      <p class="light">This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/deed.en_US" target="_blank">Creative Commons Attribution-NonCommercial 3.0 Unported License</a>.</p>
      <div class="placeholder"></div>
    </footer>
  </div>
</div>