<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".main-menu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Ask Away</a>
      <div class="nav-collapse main-menu">
        <ul class="nav">
          <% if Rails.env.development? %>
            <li><a href="/styles">Styles</a></li>
          <% end %>
          <li><a href="/">Home</a></li>
          <li class="<%= "active" if params[:controller] == "questions" %>"><a href="/questions">All Questions</a></li>
          <li><a href="/#about-bg">About</a></li>
        </ul>
        <div id="share">
          <div class="fb-like pull-right" data-href="http://www.askaway.co.nz" data-width="450" data-colorscheme="dark" data-layout="button_count" data-show-faces="false" data-send="false"></div>
          <a href="http://www.askaway.co.nz" data-url="http://www.askaway.co.nz" class="twitter-share-button pull-right" data-text="Got a question for Wellington's mayoral candidates?" data-via="AskAwayNZ">Tweet</a>
        </div>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>