%ul.answers-expanded(ng-show="question.answers_count > 0")
  %li.answers-expanded-item(ng-repeat="answer in question.answers")
    %div.media.comment.answer
      %span.pull-left.answer-avatar-container
        %img.media-object.avatar.comment-avatar(ng-src="{{answer.rep_avatar}}")
        .answer-party-avatar
          %img(ng-src="{{answer.party_avatar}}")
      .media-body
        .comment-name
          %a(ng-href="{{answer.user_path}}") {{answer.rep}}
          %a(ng-href="{{answer.party_path}}") ({{answer.party}})
          .text-detail.comment-detail
            {{answer.created_at}}
            %span(ng-show='"{{answer.history_path}}"')
              ·
              %a(ng-href='{{answer.history_path}}') Edited
        .comment-body(ng-bind-html="answer.body | autolinker")
        .answer-footer.text-detail(ng-show="'{{answer.edit_path}}'")
          %a(ng-href="{{answer.edit_path}}") Edit

.answer-form-container(ng-show="question.can_answer")
  %div.media.comment.answer
    %span.pull-left.hidden-xs
      %img.media-object.avatar.comment-avatar{src: current_user.try(:avatar_url) }
    .media-body
      = render 'answers/form'

