%form(ng-controller='AnswerFormCtrl' ng-submit="addAnswer()" name="new_answer" dirtyconfirm="new_answer")
  .form-group
    %textarea.form-control.required#answer-text(ng-model="question.answerText" placeholder='Write your answer...' ng-disabled="question.error_message")
    %charcounter(for_model="question.answerText" maxlength="350")
  .alert.alert-warning(ng-show="question.error_message")
    {{question.error_message}}
    %a(href ng-show="question.error_message" ng-click="loadQuestion()") (Reload question)

  %input.btn.btn-primary#post-answer(type="submit" ng-disabled="!question.answerText" ng-hide="question.error_message" data-disable-with="Post answer" value='Post answer')

/ %div(ng-controller='AnswerFormCtrl')
/   = simple_form_for([question, answer], html: { ng_controller: 'AnswerFormCtrl', name: "new_answer", dirtyconfirm:"new_answer", ng_submit: "submit()" }) do |f|
/     = f.input :body, placeholder: 'Write your answer...', label_html: {class: 'sr-only'}, as: :charlimited, input_html: {ng_initial: true}
/     = f.submit button_text, id: 'post-answer-btn', class: 'btn btn-primary', data: { disable_with: button_text }
