%form(ng-controller='AnswerFormCtrl' ng-submit="addAnswer()" name="new_answer" dirtyconfirm="new_answer")
  .form-group
    %textarea.form-control.required#answer-text(ng-model="question.answerText" placeholder='Write your answer...' ng-disabled="question.error_message" name="answer_body")
    %charcounter(for_model="question.answerText" maxlength="350")
  .alert.alert-warning(ng-show="question.error_message")
    {{question.error_message}}
    %a(href ng-show="question.error_message" ng-click="loadQuestion()") (Reload question)

  %input.btn.btn-primary#post-answer(type="submit" ng-disabled="!question.answerText" ng-hide="question.error_message" data-disable-with="Post answer" value='Post answer')
