.modal.fade#share-answer-modal(ng-controller='AnswerFormCtrl')
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{:type => 'button', 'data-dismiss' => 'modal'}
          x
        %h4.modal-title Share your answer
      .modal-body
        Thanks! Now that you've done the hard work, let your voters know about your answer.
        %br
        %br
        .share-buttons
