- content_for :title, "Ask Away - An answer from #{@answer.candidate_name}"
- content_for :description, @answer.body
.placeholder
.container.container-wide.row-fluid
  .span9
    .box
      %br/
      = render partial: 'questions/question_header', object: @answer.question
    .box.answer
      = render "answers/answer", answer: @answer
  = render partial: 'questions/recently_asked_sidebar'
