.row
  .col-xs-12.col-md-8.col-md-offset-2
    .panel.panel-default.thin
      .panel-body
        %h3 How it works
        %p 1. Ask a question for all of the parties to answer<br>2. Vote for the questions you think are important<br>3. Spokespeople from the parties will answer the most popular questions each day
        %h3 About Ask Away
        %p Ask Away is a Q &amp; A website where New Zealanders can ask the parties questions in the lead up to the elections. It’s an easy way to find out the parties’ positions on issues, and to compare their views side by side. It’s also a way for you to make your voice heard this election, and get the parties talking about the things that are important to you.
        %h3 Who we are
        %p This platform is a part of Massey University’s Design & Democracy Lab, and is being led by Meg Howie as her Master of Design project, in collaboration with Jon Lemmon, Code for NZ and other open source developers. If you’d like to know more, follow our blog or get in touch.
        %h3 What we care about
        %p We believe that everyone should be a part of the political conversation in our country, so we’re making it easy to be involved this election. We want to facilitate connections and conversations between those in power and the people, to help NZ’s politicians be both relevant and responsive.
        %h3 Our friends
        %p Ask Away is one of several youth voter initiatives, so take a look at some of the other great resources out there.
        