
<div id="title">
<div id="banner"></div>


<!-- QUESTION OF THE DAY -->

    <div class="container container-wide">
      <h3>Questions for Wellington's mayoral candidates</h3>
    </div>
  </div>
  <div class="paleteal">
  <div id="down"></div>
</div>
<div id="QOTD-bg" class="paleteal">

  <div class="container container-wide">
    <div>
      <br>
      <h4>Question of the day:</h4>
      <div class="row-fluid">
        <div class="span9" id="QOTD">
          <h2>How do you propose to manage rising costs of living (especially rent) for students and low-income earners?</h2>
          <p class="muted">Asked by Pip Clark on Sept 3
          <div class="fb-like" data-href="http://www.askaway.co.nz" data-width="450" data-show-faces="true" data-send="false"></div>


      <br>
      <h4>Answers from the candidates:</h4>
      <div class="row-fluid">
        <div class="yan-img profile-pic span2"></div>
        <div class="bubble-left span4">
          <p class="yan"><strong>Candidate's name: </strong>Here's a 200 character answer from one of our mayoral candidates. I love being mayor, we have a really nice office with very nice pot plants in it. The peace lily is my favourite. The end of my answer.
          </p>
          <div class="fb-like" data-href="http://www.askaway.co.nz" data-width="450" data-show-faces="false" data-send="false"></div>
          <a class="pull-right comments" data-toggle="collapse" data-target="#comments1" data-parent="#selector">
            See comments
          </a><br>
          <div id="comments1" class="collapse">
            <div class="fb-comments" data-href="http://askaway.co.nz" data-width="300"></div>
          </div>
        </div>
        <div class="young-img profile-pic span2"></div>
        <div class="bubble-left span4">
          <p class="young"><strong>Candidate's name: </strong>Here's a 200 character answer from one of our mayoral candidates. I love being mayor, we have a really nice office with very nice pot plants in it. The peace lily is my favourite. The end of my answer.
          </p>
          <i class="icon-thumbs-up"></i> Like
          <a class="pull-right" data-toggle="collapse" data-target="#comments2" data-parent="#selector">
            See comments
          </a>
          <div id="comments2" class="collapse">
            Here are the comments
          </div>
        </div>
      </div>
    <div class="row-fluid">
      <div class="muthu-img profile-pic span2"></div>
        <div class="bubble-left span4">
          <p class="muthu"><strong>Candidate's name: </strong>Here's a 200 character answer from one of our mayoral candidates. I love being mayor, we have a really nice office with very nice pot plants in it. The peace lily is my favourite. The end of my answer.
          </p>
          <i class="icon-thumbs-up"></i> Like
          <a class="pull-right" data-toggle="collapse" data-target="#comments3" data-parent="#selector">
            See comments
          </a>
          <div id="comments3" class="collapse">
            Here are the comments Here's a 200 character answer from one of our mayoral candidates. I love being mayor, we have a really nice office with very nice pot plants in it. The peace lily is my favourite. The end of my answer.Here's a 200 character answer from one of our mayoral candidates. I love being mayor, we have a really nice office with very nice pot plants in it. The peace lily is my favourite. The end of my answer.Here's a 200 character answer from one of our mayoral candidates. I love being mayor, we have a really nice office with very nice pot plants in it. The peace lily is my favourite. The end of my answer.Here's a 200 character answer from one of our mayoral candidates. I love being mayor, we have a really nice office with very nice pot plants in it. The peace lily is my favourite. The end of my answer.
          </div>
        </div>
      <div class="morrison-img profile-pic span2"></div>
        <div class="bubble-left span4">
          <p class="morrison"><strong>Candidate's name: </strong>Here's a 200 character answer from one of our mayoral candidates. I love being mayor, we have a really nice office with very nice pot plants in it. The peace lily is my favourite. The end of my answer.
          </p>
          <i class="icon-thumbs-up"></i> Like
          <a class="pull-right" data-toggle="collapse" data-target="#comments4" data-parent="#selector">
            See comments
          </a>
          <div id="comments4" class="collapse">
            Here are the comments
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="goulden-img profile-pic span2"></div>
          <div class="bubble-left span4">
            <p class="goulden"><strong>Candidate's name: </strong>Here's a 200 character answer from one of our mayoral candidates. I love being mayor, we have a really nice office with very nice pot plants in it. The peace lily is my favourite. The end of my answer.
            </p>
            <i class="icon-thumbs-up"></i> Like
            <a class="pull-right" data-toggle="collapse" data-target="#comments5" data-parent="#selector">
              See comments
            </a>
            <div id="comments5" class="collapse">
              Here are the comments
            </div>
          </div>
        <div class="wade-brown-img profile-pic span2"></div>
        <div class="bubble-left span4">
          <p class="wade-brown"><strong>Candidate's name: </strong>Here's a 200 character answer from one of our mayoral candidates. I love being mayor, we have a really nice office with very nice pot plants in it. The peace lily is my favourite. The end of my answer.
          </p>
          <i class="icon-thumbs-up"></i> Like
          <a class="pull-right" data-toggle="collapse" data-target="#comments6" data-parent="#selector">
            See comments
          </a>
          <div id="comments6" class="collapse">
            Here are the comments
          </div>
        </div>
      </div>
    </div>
    <div class="span3">
        <a href="#ask-modal" role="button" class="btn btn-ask  btn-large btn-block" data-toggle="modal">
          Ask a Question
        </a>
        <br>
    <div class="box palesalmon">
          <h4>Other recently asked questions</h4>
          <div class="question-min">
            How are we going to make bicycling safer in the CBD and turn Wellington into a truly "smart transport" city?<br><br>
            <div class="fb-like" data-href="https://twitter.com/AskAwayNZ" data-width="100" data-layout="button_count" data-show-faces="false" data-send="false"></div><p class="muted">Asked by Pip Clark on Sept 5</p>
          </div>
          <div class="question-min">
            How are we going to make bicycling safer in the CBD and turn Wellington into a truly "smart transport" city?<br><br>
            <div class="fb-like" data-href="https://twitter.com/AskAwayNZ" data-width="100" data-layout="button_count" data-show-faces="false" data-send="false"></div><p class="muted">Asked by Pip Clark on Sept 5</p>
          </div>
          <div class="question-min">
            How are we going to make bicycling safer in the CBD and turn Wellington into a truly "smart transport" city?<br><br>
            <div class="fb-like" data-href="https://twitter.com/AskAwayNZ" data-width="100" data-layout="button_count" data-show-faces="false" data-send="false"></div><p class="muted">Asked by Pip Clark on Sept 5</p>
          </div>
        </div>
          <%= link_to "See more questions", questions_path, role: "button", class: "btn btn-primary btn-large btn-block" %>
      </div>
      </div>




     <div class="inline-message">
      <a href="#all-questions-bg" role="button" class="btn btn-primary btn-large">See all the questions</a>  Or, if you've got your own question
      <a href="#ask-modal" role="button" class="btn btn-ask btn-large" data-toggle="modal">Ask a Question</a>

  </div> <!--container -->
</div>
</div>
</div>


<!--  ABOUT  -->

<div id="about-bg" class="palepurple">
  <div class="placeholder"></div>
  <div id="about" class="container">
    <h5>About</h5>
        <div id="info" class="palepurple">
          <h2>This is an independent platform designed to make it easier for you to get to know the people standing for mayor in Wellington's local body elections.</h2><br>
        </div>

          <div class="inline-message" id="buttons-smaller-screen">
            <a href="#all-questions-bg" role="button" class="btn btn-primary btn-large">See all the questions</a>  Or, if you've got your own
            <a href="#ask-modal" role="button" class="btn btn-ask btn-large" data-toggle="modal">Ask a Question</a>
          </div>

      <div class="span8 palepurple">
          <p>Every day the candidates will answer the question with the most votes. See what people have been asking, and up-vote the questions that are important to you. <br>If no one’s asked what you want to know, ask if for yourself!</p><br>

          <p><strong>When:</strong> The voting for the day finishes at 7pm, and the candidates answers will be on the site by 8am the following morning.
          Questions will be answered Monday to Friday, until voting closes on the 12th October.</p><br>

          <p><strong>Who:</strong> This is the honours project of Meg Howie at Massey University’s School of Design. She hopes to expand the site to facilitate ongoing public engagement at local, regional and national levels of government.</p><br>

          <p>A huge thanks to the lovely people who programmed the site. <br><br>
          This project is supervised by Patricia Thomas. Contact her at p.thomas@massey.ac.nz.
        </p>
      </div>
  </div>
  <div class="container">
    <div id="contact" class="inline-message">
    <p>
      <strong>Want to get in touch?</strong><br>
      Shoot us a line at <a>info@askaway.co.nz</a>
    </p>
  </div>
</div>
<div class="placeholder"></div>
</div>







<!-- Modal -->
<div id="ask-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<%= render partial: 'questions/form' %>
</div>

<!--Thank-you messsage -->


<div id="thanks-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header green">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="ask-modalLabel">Ask a question</h4>
  </div>
  <div class="modal-body">
    <p>Thanks for contributing!<br><br>
  We'll check over your question before we publish it, and won't publish anything offensive or too similar to questions that have already been asked.<br><br>
  Sit tight, and when your question is live on the site we'll send you a link so that you can share it with your family and friends and get them to vote it up.<br><br>
  <div class="modal-footer">
    <button class="btn btn-large" data-dismiss="modal" aria-hidden="true">Close</button>
</div>

  </div>
</div>





<div id="QOTD-bg" class="paleteal">

  <div class="container container-wide">
    <div>
      <br>
      <h4>Question of the day:</h4>
      <div class="row-fluid">
        <div class="span9" id="QOTD">
          <h2>How do you propose to manage rising costs of living (especially rent) for students and low-income earners?</h2>
          <p class="muted">Asked by Pip Clark on Sept 3
          <div class="fb-like" data-href="http://www.askaway.co.nz" data-width="450" data-show-faces="true" data-send="false"></div>
<h4>Answers from the candidates:</h4>
      <div class="row-fluid">
        <div class="yan-img profile-pic span2" data-toggle="collapse" data-target="aotd"></div>
        <div class="bubble-left span4 aotd">
          <p class="yan"><strong>Candidate's name: </strong>Here's a 200 character answer from one of our mayoral candidates. I love being mayor, we have a really nice office with very nice pot plants in it. The peace lily is my favourite. The end of my answer.
          </p>
          <div class="fb-like" data-href="http://www.askaway.co.nz" data-width="450" data-show-faces="false" data-send="false"></div>
          <a class="pull-right comments" data-toggle="collapse" data-target="#comments1" data-parent="#selector">
            See comments
          </a><br>
          <div id="comments1" class="collapse">
            <div class="fb-comments" data-href="http://askaway.co.nz" data-width="300"></div>
          </div>
        </div>
        <div class="young-img profile-pic span2"></div>
        <div class="bubble-left span4 aotd">
          <p class="young"><strong>Candidate's name: </strong>Here's a 200 character answer from one of our mayoral candidates. I love being mayor, we have a really nice office with very nice pot plants in it. The peace lily is my favourite. The end of my answer.
          </p>
          <i class="icon-thumbs-up"></i> Like
          <a class="pull-right" data-toggle="collapse" data-target="#comments2" data-parent="#selector">
            See comments
          </a>
          <div id="comments2" class="collapse">
            Here are the comments
          </div>
        </div>
      <div class="muthu-img profile-pic span2"></div>
        <div class="bubble-left span4">
          <p class="muthu"><strong>Candidate's name: </strong>Here's a 200 character answer from one of our mayoral candidates. I love being mayor, we have a really nice office with very nice pot plants in it. The peace lily is my favourite. The end of my answer.
          </p>
          <i class="icon-thumbs-up"></i> Like
          <a class="pull-right" data-toggle="collapse" data-target="#comments3" data-parent="#selector">
            See comments
          </a>
          <div id="comments3" class="collapse">
            Here are the comments Here's a 200 character answer from one of our mayoral candidates. I love being mayor, we have a really nice office with very nice pot plants in it. The peace lily is my favourite. The end of my answer.Here's a 200 character answer from one of our mayoral candidates. I love being mayor, we have a really nice office with very nice pot plants in it. The peace lily is my favourite. The end of my answer.Here's a 200 character answer from one of our mayoral candidates. I love being mayor, we have a really nice office with very nice pot plants in it. The peace lily is my favourite. The end of my answer.Here's a 200 character answer from one of our mayoral candidates. I love being mayor, we have a really nice office with very nice pot plants in it. The peace lily is my favourite. The end of my answer.
          </div>
        </div>
      <div class="morrison-img profile-pic span2"></div>
        <div class="bubble-left span4">
          <p class="morrison"><strong>Candidate's name: </strong>Here's a 200 character answer from one of our mayoral candidates. I love being mayor, we have a really nice office with very nice pot plants in it. The peace lily is my favourite. The end of my answer.
          </p>
          <i class="icon-thumbs-up"></i> Like
          <a class="pull-right" data-toggle="collapse" data-target="#comments4" data-parent="#selector">
            See comments
          </a>
          <div id="comments4" class="collapse">
            Here are the comments
          </div>
        </div>
        <div class="goulden-img profile-pic span2"></div>
          <div class="bubble-left span4">
            <p class="goulden"><strong>Candidate's name: </strong>Here's a 200 character answer from one of our mayoral candidates. I love being mayor, we have a really nice office with very nice pot plants in it. The peace lily is my favourite. The end of my answer.
            </p>
            <i class="icon-thumbs-up"></i> Like
            <a class="pull-right" data-toggle="collapse" data-target="#comments5" data-parent="#selector">
              See comments
            </a>
            <div id="comments5" class="collapse">
              Here are the comments
            </div>
          </div>
        <div class="wade-brown-img profile-pic span2"></div>
        <div class="bubble-left span4">
          <p class="wade-brown"><strong>Candidate's name: </strong>Here's a 200 character answer from one of our mayoral candidates. I love being mayor, we have a really nice office with very nice pot plants in it. The peace lily is my favourite. The end of my answer.
          </p>
          <i class="icon-thumbs-up"></i> Like
          <a class="pull-right" data-toggle="collapse" data-target="#comments6" data-parent="#selector">
            See comments
          </a>
          <div id="comments6" class="collapse">
            Here are the comments
          </div>
        </div>
      </div>
    </div>




<script type="text/javascript">
$(function() {
    $('#aotd').on('mouseenter.collapse.data-api', '[data-toggle=collapse]', function(e) {
        var $this = $(this),
            href, target = $this.attr('data-target') || e.preventDefault() || (href = $this.attr('href')) && href.replace(/.*(?=#[^\s]+$)/, '') //strip for ie7
            ,
            option = $(target).data('collapse') ? 'show' : $this.data()
            $(target).collapse(option)
    })
})
</script>



<script src="http://w3resource.com/twitter-bootstrap/twitter-bootstrap-v2/js/bootstrap-tooltip.js"></script>
<script src="http://w3resource.com/twitter-bootstrap/twitter-bootstrap-v2/js/bootstrap-popover.js"></script>
<script>
$(function (){
   $("#example").popover();
});
</script>

<!-- Facebook likes -->
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Facebook likes - no social text-->



<!-- Facebook comments -->
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script type="text/javascript">
if ('ontouchstart' in document) {
    Y.one('body').removeClass('no-touch');
}
</script>

