<div id="home-bg"></div>
    <div id="banner">
    </div>
    <div class="placeholder"></div>
    <div id="home" class="container">
       <h1>Welcome to Ask Away</h1>
       <h4>This is a site to help you choose who you want to be Wellington's next mayor</h4>
    </div>
    <div class="placeholder"></div>
  </div>
</div>


<div class="container">
  <!-- Main hero unit for a primary marketing message or call to action -->
  <div id="top" class="hero-unit">
    <h1>Ask Away</h1>
    <h3>Get to know Wellington's mayoral candidates for 2013</h3>
    <h1>H1</h1>
    <h2>H2</h2>
    <h3>H3</h3>
    <p>Hero content like the Question of the Day</p>
    <h4>H4</h4>
    <p>Small page headings like "About"</p>
    <h5>H5</h5>
    <p>Body copy, including answers from candidates.</p>
     <a>Links</a>
    <p class="muted">Muted text</p>
  </div>

  <div class="placeholder"></div>

  <div id="buttons" class="outline">
    <h4>Buttons</h4>
    <a href="#" class="btn btn-primary btn-large">btn-primary</a>
    <a href="#ask-modal" role="button" class="btn btn-ask btn-large" data-toggle="modal">btn-ask</a>
    <a href="#" role="button" class="btn btn-large" data-toggle="modal">btn</a>
  </div>

  <div class="placeholder"></div>

<h4>Inline message</h4>
<div id="bg" class="palepurple">
   <div class="inline-message">
      Keep scrolling to see previous questions or, 
      <a href="#ask-modal" role="button" class="btn btn-ask btn-large" data-toggle="modal">Ask a Question</a>
    </div>
</div>

    <div class="placeholder"></div>

  <div class="colorswatches outline">
    <h4>Color Swatches</h4>
    <div class="row-fluid">
      <div class="span2 palesalmon">Salmon</div>
      <div class="span2 palegreen">Green</div>
      <div class="span2 paleteal">Teal</div>
      <div class="span2 palepurple">Purple</div>
      <div class="span2 tan">Tan</div>
    </div>
    <div class="row-fluid">
      <div class="span2 salmon">Salmon</div>
      <div class="span2 green">Green</div>
      <div class="span2 teal">Teal</div>
      <div class="span2 purple">Purple</div>
      <div class="span2 tan">Tan</div>
    </div>
  </div>

  <div class="placeholder"></div>

  <div>




</div>
</div> <!--container -->


  






