
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>Ask Away</h1>
  <h3>Get to know Wellington's mayoral candidates for 2013</h3>
  <h4>H4</h4>
  <h5>H5</h5>
  <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<br>
<div class="colorswatches">
  <h3>Color Swatches</h3>
  <div class="row">
    <div class="span2 palesalmon">Salmon</div>
    <div class="span2 palegreen">Green</div>
    <div class="span2 paleteal">Teal</div>
    <div class="span2 palepurple">Purple</div>
    <div class="span2 tan">Tan</div>
    <div class="span2 salmon">Salmon</div>
    <div class="span2 green">Green</div>
    <div class="span2 teal">Teal</div>
    <div class="span2 purple">Purple</div>
    <div class="span2 tan">Tan</div>
  </div>
</div>
<br>
<br>



<h3>All the questions you've asked so far:</h3>
<div class="row">
  <div class="accordion span8" id="accordion2">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
          How do you propose to manage rising costs of living (especially rent) for students and low-income earners?
          <br>
          <p class="muted">Asked by Pip Clark and 23 others</p>
        </a>

      </div>
      <div id="collapseOne" class="accordion-body collapse in">
        <div class="accordion-inner">
            <p class="yan"><strong>Candidate's name: </strong>Here's a 200 character answer from one of our mayoral candidates. I love being mayor, we have a really nice office with very nice pot plants in it. The peace lily is my favourite. The end of my answer.
          </p>
          <i class="icon-thumbs-up"> Like</i></button><br>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
          How do you propose to manage rising costs of living (especially rent) for students and low-income earners?
        </a>
      </div>
      <div id="collapseTwo" class="accordion-body collapse">
        <div class="accordion-inner">
          Anim pariatur cliche...
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
          How do you propose to manage rising costs of living (especially rent) for students and low-income earners?
        </a>
      </div>
      <div id="collapseThree" class="accordion-body collapse">
        <div class="accordion-inner">
          Anim pariatur cliche...
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
          How do you propose to manage rising costs of living (especially rent) for students and low-income earners?
        </a>
      </div>
      <div id="collapseFour" class="accordion-body collapse">
        <div class="accordion-inner">
          Anim pariatur cliche...
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
          How do you propose to manage rising costs of living (especially rent) for students and low-income earners?
        </a>
      </div>
      <div id="collapseFive" class="accordion-body collapse">
        <div class="accordion-inner">
          Anim pariatur cliche...
        </div>
      </div>
    </div>
  </div>
</div>

          <button class="btn-primary pull-right">
            <i class="icon-thumbs-up"> Like this question to vote it up</i>
          </button>



<div class="row">
  <img src="/images/Jack-Yan.jpg" class="span1">
  <div class="bubble-left span4 tan">
      <p class="yan"><strong>Candidate's name: </strong>Here's a 200 character answer from one of our mayoral candidates. I love being mayor, we have a really nice office with very nice pot plants in it. The peace lily is my favourite. The end of my answer.
      </p>
      <i class="icon-thumbs-up"> Like</i>
      <a class="pull-right" data-toggle="collapse" data-target="#comments" data-parent="selector">
        See comments
      </a>
      <div id="comments" class="collapse in"> Here are the comments </div>
  </div>


  <img src="/images/Jack-Yan.jpg" class="span1">
  <div class="bubble-left span4">
    <p class="yan"><strong>Candidate's name: </strong>Here's a 200 character answer from one of our mayoral candidates. I love being mayor, we have a really nice office with very nice pot plants in it. The peace lily is my favourite. The end of my answer.
    </p>
  </div>
</div>

<div class="row">
  <div class="bubble-top span3">
    <p class="young"><strong>Nicola Young: </strong>Here's a 200 character answer from one of our mayoral candidates. I love being mayor, we have a really nice office with very nice pot plants in it. The peace lily is my favourite. The end of my answer.</p>
  </div>
</div>









<!-- Example row of columns -->
<div class="row">
  <div class="span4">
    <h2>Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
 </div>
  <div class="span4">
    <h2>Heading</h2>
    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>
</div>