<div class="placeholder"></div>
    <div class="box">
      <div class="individual-q">
         <p>
          How do you propose to manage rising costs of living (especially rent) for students and low-income earners?
        </p>
        <p class="muted">Asked by Pip Clark and 23 others</p>
        <div class="box tan">
        <div class="row-fluid">
          <div class="fb-like span3" data-href="http://www.askaway.co.nz" data-width="450" data-show-faces="false" data-send="false"></div>
          <a rel="popover" data-content="The question with the most likes at the end of the day will be tomorrow's Question of the Day!">
            Add your ask to this question by liking it
          </a>
        </div>
      </div>
      </div>
    </div>
            <a class="btn pull-right" href="#all-questions-bg">
          Back to list of questions
        </a>