<% content_for :title, "Ask Away - NZ's parties are answering your questions this election." %>
<% content_for :description, "From the 8th of August, you'll be able to ask questions, vote for the ones you want answered, and see responses from the parties at Ask Away." %>
<div class="landing-page">
  <div class="container">
    <div class="logo">
    </div>
    <!--<h3 class="logotype">Ask Away</h3>-->
    <div class="main-content">
      <h1>What's important to you?</h1>
      <h3>Ask New Zealand's political parties your questions this election</h3>
      <div class="call-to-action">
        <h4 class="sign-up">
         We're launching in early August, so stay in the loop now
        </h4>
        <div class="collect-email">
          <!-- <input placeholder="Your email"></input> -->
          <!-- <div class="btn-email">Submit</div> -->
          <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup">
          <form action="http://askaway.us7.list-manage.com/subscribe/post?u=5da13ac52979fb20bbbd05e30&amp;id=6a0efd4005" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <input placeholder="Your email" type="email" value="" name="EMAIL" class="required email input" id="mce-EMAIL">
          <div id="mce-responses" style="display:inline;">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_5da13ac52979fb20bbbd05e30_6a0efd4005" tabindex="-1" value=""></div>
          <input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="btn-email">
          </form>
          </div>
        </div>

        <!--End mc_embed_signup-->
        <div class="share">
          <a class="FB-box share-btns" href="https://facebook.com/askawaynz" target="_blank">
            <div class="facebook-icon"></div>
            <div class="facebook">Like</div>
          </a>
          <a class="Tw-box share-btns" href="https://twitter.com/askawaynz" target="_blank">
            <div class="twitter-icon"></div>
            <div class="facebook">Follow</div>
          </a>
        </div>
      </div>
    </div>
    <div class="extra-content">
      <div class="col-50 about">
        <h3>About Ask Away</h3>
        <p>
          Ask Away is a website where New Zealanders can ask the parties questions in the lead up to the elections, so that the parties are responding to the things people really care about. That means you can help to set the agenda this election, by asking and up-voting the questions that are important to you.
        </p>
        <p>
          It is also an easy way to find out about the parties and compare their views side by side.
        </p>
        <p><a href="/2013">See how the project was prototyped in Wellington’s Mayoral Elections in 2013.</a></p>
      </div>
      <div class="col-50">
        <h3>Who we are</h3>
        <p>
          This platform is a part of Massey University’s <a href="http://designdemocracy.ac.nz/" target="_blank">Design &amp; Democracy Lab,</a> and is being led by Meg Howie as her Master of Design project, in collaboration with Jon Lemmon, Code for NZ and other open source developers. It is part of several initiatives aimed at increasing youth voter turnout in the 2014 General Election. If you’d like to know more, <a href="http://designdemaa.tumblr.com/" target="_blank">follow our blog</a> or<a href="mailto:info@askaway.co.nz"> get in touch.</a>
        </p>
        <h3>What we care about</h3>
        <p>
We believe that everyone should be a part of the political conversation in our country, so we’re making it easy to be involved this election. We want to facilitate connections and conversations between those in power and the people, to help NZ’s politicians be both relevant and responsive.
        </p>
      </div>
    </div>
  </div>
</div>

  </div>
</div>
