<div class="landing-page">
  <div class="container">
    <div class="logo">
    </div>
    <!--<h3 class="logotype">Ask Away</h3>-->
    <div class="main-content">
      <h1>What's important to you?</h1>
      <h3>Ask New Zealand's political parties your questions this election</h3>
      <div class="cta">
        <h4 class="sign-up">
         We're launching in July, so sign up now to stay in the loop
        </h4>
        <div class="collect-email">
          <input placeholder="Your email"></input>
          <div class="btn-email">Submit</div>
        </div>
        <div class="share">
          <div class="FB-box share-btns">
            <div class="facebook-icon"></div>
            <div class="facebook">Like</div>
          </div>
          <div class="Tw-box share-btns">
            <div class="twitter-icon"></div>
            <div class="facebook">Follow</div>
          </div>
        </div>
      </div>
    </div>
    <div class="extra-content">
      <div class="col-50 about">
        <h3>About Ask Away</h3>
        <p>
          Ask Away is a website where New Zealanders can ask the parties questions in the lead up to the elections, so that the parties are responding to the things people really care about. That means you can help to set the agenda this election, by asking and up-voting the questions that are important to you.
        </p>
        <p>
          It is also an easy way to find out about the parties and compare their views side by side.
        </p>
        <p><a href="">See how the project was prototyped in Wellington’s Mayoral Elections in 2013.</a></p>
      </div>
      <div class="col-50">
        <h3>Who we are</h3>
        <p>
          This platform is a part of Massey University’s Design &amp; Democracy Lab, and is being led by Meg Howie as her Master of Design project, in collaboration with Jon Lemmon, Code for NZ and other open source developers. It is part of several initiatives aimed at increasing youth voter turnout in the 2014 General Election. If you’d like to know more, please <a href="mailto:info@askaway.co.nz">get in touch.</a>
        </p>
        <h3>What we care about</h3>
        <p>
We believe that everyone should be a part of the political conversation in our country, so we’re making it easy to be involved this election. We want to facilitate connections and conversations between those in power and the people, to help NZ’s politicians be both relevant and responsive.
        </p>
      </div>
    </div>
  </div>
</div>




    <!-- 
   <h3>How it works:</h3>
    <div id="how-it-works" class="row-fluid">
      <div class="span4">
       <div id="img-q"></div>
        <p>
         Anyone can ask a question about the things that are important to them
        </p>
      </div>
      <div class="span4">
        <div id="img-qmany"></div>
          <p>
            People add their vote to questions by 'liking' them
          </p>
        </div>
        <div class="span4">
          <div id="img-a"></div>
          <p>
            The candidates in elections answer the questions with the most votes
          </p>
        </div>
        <h3><a href="/">See how Ask Away was used in Wellington's 2013 mayoral election</a></h3>
    </div>
  -->
  </div>
</div>