<div id="landing-page">
  <div id="blurred">
    <div class="container">
      <p>
        Ask Away is an independent platform that makes political participation easy and engaging for New Zealand's young people.
      </p>
    </div>
  </div>
  <div class="container">
   <h3>How it works:</h3>
    <div id="how-it-works" class="row-fluid">
      <div class="span4">
        <div id="img-q"></div>
        <p>
         Anyone can ask a question about the things that are important to them
        </p>
      </div>
      <div class="span4">
        <div id="img-qmany"></div>
          <p>
            People add their vote to questions by 'liking' them
          </p>
        </div>
        <div class="span4">
          <div id="img-a"></div>
          <p>
            The candidates in elections answer the questions with the most votes
          </p>
        </div>
        <h3><a href="/">See how Ask Away was used in Wellington's 2013 mayoral election</a></h3>
    </div>
  </div>
</div>