.row
  .col-xs-12.col-md-8.col-md-offset-2
    .panel.panel-default.thin.about-panel
      .panel-header
        .question-filter.question-filter-selected.about-heading Terms of use
      .panel-body
        %p 
          This is the User Agreement for Askaway.org.nz (the “Website”), which is owned and

          operated by Massey University (the “University”). This Agreement is a binding legal 

          agreement between you and the University, and you should review the terms and 

          conditions contained herein carefully. 
        %p
          Your use of the Website is subject to the terms and 

          conditions set forth in this Agreement and the 
          = link_to "Privacy Policy,", "privacy_policy"
          and all applicable laws and 

          regulations. If you do not consent to the terms and conditions of this Agreement, you may 

          not access the services made available, or register an account with the Website.
        %p
          The University reserves the right to revise this Agreement at any time, without prior notice, 

          by posting here. You will be bound by any such revised Agreement if you continue to use the 

          Website after such revisions are posted. We encourage you to review the Website and this 

          Agreement from time to time to determine whether a revised Agreement has been posted. 

          The date of the last revision is stated at the end of this Agreement. 
        %h5
          Description of Service
        %p
          Askaway.org.nz is a free & open-source Website for questions-and-answers with political 

          parties. It's a non-profit tool for a stronger democracy, which makes it easier for people to 

          get informed and involved with elections.
        %h5
          Children Under 13
        %p
          This Site is intended solely for Users who are thirteen (13) years of age or older, and any 

          registration by, use of or access to the Site by anyone under 13 is unauthorized, unlicensed 

          and in violation of these Terms of Use. By using the Service or the Site, you represent and 

          warrant that you are 13 or older and that you agree to and to abide by all of the terms 

          and conditions of this Agreement. In its sole discretion, the University may terminate your 

          account, delete your account information and any content or information that you have 

          posted on the Website and/or prohibit you from using or accessing the Website, or any 

          portion thereof, for any reason, at any time, and with or without notice to you, if it believes 

          that you are under 13. Notwithstanding anything to the contrary, if you are in a jurisdiction 

          in which the minimum age permissible by law to use the Website is greater than 13, all 

          references to 13 in this section shall instead be replaced with the minimum age permitted in 

          your jurisdiction.
        %h5
          User Content Posted on the Site
        %p
          You are solely responsible for the photos, questions, comments, messages, notes, text, 

          information, music, video, advertisements, links, and other content that you upload, publish 

          or display (hereinafter, "post") on or through the Website, or transmit to or share with 

          other Website users (collectively the "User Content"). You understand and agree that 

          the University, in its sole discretion, may, but is not obligated to, review and delete or 

          remove (with or without notice) any User Content, including without limitation any User 

          Content that, in the University’s sole judgment, violates this Agreement, or which might 

          be inappropriate, offensive, illegal, or that might violate the rights or privacy of, harm, or 

          threaten the safety of Website users or others.

          By posting User Content to any part of the Website, you automatically grant a perpetual and 

          irrevocable non-exclusive, worldwide, royalty-free right to the University to use, reproduce, 

          publicly display, publicly perform, publish, and sublicense the User Content and Images, on 

          the Website, or in any other medium or manner it sees fit, or any reason that furthers the 

          purposes of the University. You further represent and warrant that you are the owner of all 

          copyrights in the User Content and have the right to grant such a license to the University. If 

          applicable, you also represent and warrant that you have the appropriate model release for 

          anyone appearing in any photographs or videos you upload, and that the User Content does 

          not violate any third-party’s right of publicity or privacy.
        %h5
          User Submissions
        %p
          You understand and acknowledge that any questions, comments, suggestions, ideas, 

          feedback or other information that you submit to the University, whether via email or 

          the feedback form provided on the Website (“Send us a message”), are not confidential 

          and become the sole property of the University, and that the University shall own the 

          exclusive rights, including copyrights and any other relevant intellectual property, in the 

          User Submissions.
        %h5
          Copyright and Trademark Policy
        %p
          Except where otherwise stated, Content on the Website is the copyrighted work of the 

          University, or its third-party content providers. All content on the Website is licensed under 

          a Creative Commons Attribution-NonCommercial 3.0 Unported License, except where otherwise noted. Any use of 

          the Website content which is not in accordance with the terms of the Creative Commons Attribution-NonCommercial 3.0 Unported License is unauthorized. The source code for the Website is the copyrighted 

          work of the University, and is free and open-source. It is licensed under the AGPL license, 

          and available on GitHub.

          If you want to use content on this site you must attribute the content used to Ask Away 

          using any of the logos or “Source: Askaway.org.nz”. You must not in any way suggest that 

          the creator endorses you or your use of the work.
        %h5
          Links to Other Websites and Content
        %p
          The website may contain links to other web sites ("Third Party Sites") as well as articles, 

          photographs, text, graphics, pictures, designs, music, sound, video, information, software 

          and other content belonging to or originating from third parties (the "Third Party Content"). 

          The University does control or monitor such Third Party Sites and Third Party Content, and 

          cannot be held responsible for any Third Party Sites accessed through the Website or any 

          Third Party Content encountered on the Website, including without limitation the content, 

          accuracy, offensiveness, opinions, reliability or policies of or contained in the Third Party 

          Sites or the Third Party Content. Inclusion of or linking to any Third Party Site or any Third 

          Party Content does not imply approval or endorsement thereof by the University. The 

          University shall not be responsible or liable, directly or indirectly, for any damages or losses 

          caused or alleged to be caused by or in connection with your use of or reliance on any Third 

          Party Site or any Third Party Content. If you to navigate from the Website to any Third Party 

          Sites, you acknowledge and understand that you do so at your own risk and the University 

          terms, practices, and policies no longer apply. You should review the applicable terms 

          and policies, including privacy policies and practices, of any Third Party Site to which you 

          navigate from the Website.
        %h5
          User Disputes
        %p
          You are solely responsible for your interactions with other Website Users. The University 

          reserves the right, but has no obligation, to monitor disputes between you and other Users, 

          and to delete the accounts of Website Users who engage in or escalate disputes with other 

          Users.
        %h5
          Privacy
        %p
          The University values the privacy of Website Users, and urges you to review its privacy 

          practices and policies by 
          = link_to "clicking here", "privacy_policy" 
          By accessing the Website, setting up an account, 

          posting a question, or upvoting a question, you are consenting to the University’s use of 

          your personal information in accordance with our Privacy Policy. 
        %h5
          Prohibited Uses
        %p
          You acknowledge and agree that you shall not engage in any conduct, use or attempt to 

          use this Website, (i) for any unlawful, unauthorized, fraudulent or malicious purpose, or (ii) 

          that could damage, disable, overburden, or impair any server, or the network(s) connected 

          to any server, or (iii) interfere with any other party's use and enjoyment of the Website, 

          or (iv) to gain unauthorized access to any other accounts, computer systems or networks 

          connected to any server or systems through hacking, password mining or any other means, 

          or (v) to access systems, data or information not intended by the University to be made 

          accessible to a user, or (vi) attempt to obtain any materials or information through any 

          means not intentionally made available by the University, or (vii) any use other than the 

          business purpose for which it was intended, is prohibited. 
        %p
          In addition, in connection with 

          your use of the Website, you agree you will not: 

          a) upload or transmit any message, information, data, text, software or images, or 

          other content that is unlawful, harmful, threatening, abusive, harassing, tortious, 

          defamatory, vulgar, obscene, libelous, or otherwise objectionable, or that may invade 

          another's right of privacy or publicity; 

          b) create a false identity for the purpose of misleading others or impersonate any 

          person or entity, or falsely state or otherwise misrepresent your affiliation with a 

          person or entity; 

          c) upload or transmit any material that you do not have a right to reproduce, display or 

          transmit under any law or under contractual or fiduciary relationships (such as 

          nondisclosure agreements); 

          d) upload files that contain viruses, trojan horses, worms, time bombs, cancel-bots, 

          corrupted files, or any other similar software or programs that may damage the 

          operation of another's computer or property of another; 

          e) delete any author attributions, legal notices or proprietary designations or labels 

          that you upload to any communication feature; 

          f) use the Website’s communication features in a manner that adversely affects the 

          availability of its resources to other users (e.g., excessive shouting, use of all caps, or 

          flooding continuous posting of repetitive text); 

          g) upload or transmit any unsolicited advertising, promotional materials, "junk 

          mail," "spam," "chain letters," "pyramid schemes" or any other form of solicitation, 

          commercial or otherwise; 

          h) violate any applicable local, state, national or international law; 

          i) upload or transmit any material that infringes any patent, trademark, service mark, 

          trade secret, copyright or other proprietary rights of any party; 

          j) delete or revise any material posted by any other person or entity; 

          k) probe, scan, test the vulnerability of or breach the authentication measures of, this 

          Website or any related networks or systems; 

          l) harvest or otherwise collect information about others, including e-mail addresses; or 

          m) use any robot, spider, scraper, or other automated or manual means to access this 

          Website, or copy any content or information on this Website. 
        %p

          The University reserves the right to take whatever lawful actions it may deem appropriate 

          in response to actual or suspected violations of the foregoing, including, without limitation, 

          the suspension or termination of the user's access and/or account. The University may 

          cooperate with legal authorities and/or third parties in the investigation of any suspected 

          or alleged crime or civil wrong. Except as may be expressly limited by the Privacy Policy, the 

          University reserves the right at all times to disclose any information as the University deems 

          necessary to satisfy any applicable law, regulation, legal process or governmental request, 

          or to edit, refuse to post or to remove any information or materials, in whole or in part, in 

          the University’s sole discretion.

          YOUR USE OF THIS WEBSITE IS AT YOUR SOLE RISK. ALL CONTENT, INFORMATION, 

          MATERIALS, SERVICES, AND ANYTHING ELSE ON OR LINKED FROM THE WEBSITE ARE 

          PROVIDED ON AN "AS IS" OR "AS AVAILABLE" BASIS, AND THE UNIVERSITY EXPRESSLY 

          disclaims all warranties and conditions with respect to the WEBSITE, whether implied, 

          express, or statutory, including the implied warranties of merchantability, fitness for a 

          particular purpose, title, noninfringement of third-party rights, SATISFACTORY QUALITY, 

          quiet enjoyment and accuracy. THE UNIVERSITY MAKES NO WARRANTY THAT THE 

          WEBSITE, CONTENT OR ANY OTHER INFORMATION OR SERVICE IS ACCURATE, TIMELY, 

          UNINTERRUPTED, VIRUS-FREE OR ERROR-FREE, OR THAT ANY SUCH PROBLEMS WILL BE 

          CORRECTED.
        %h5
          Limitation of Liability
        %p
          In addition to the above warranty disclaimers, YOU UNDERSTAND AND AGREE THAT 

          THE UNIVERSITY WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, 

          CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING, WITHOUT LIMITATION, 

          DAMAGES FOR LOSS OF PRODUCTS, USE, DATA OR OTHER INTANGIBLE LOSSES, EVEN IF THE 

          UNIVERSITY HAS BEEN ADVISED OF THE POSSIBILITIES OF THOSE DAMAGES, RESULTING 

          FROM YOUR USE OR INABILITY TO USE THE WEBSITE, PRODUCTS AND SERVICES OR 

          CONTENT, THE COST OF OBTAINING SUBSTITUTE PRODUCTS AND SERVICES RESULTING 

          FROM ANY LOSS OF DATA, INFORMATION, PRODUCTS AND SERVICES OBTAINED FROM 

          PURCHASES OR TRANSACTIONS, CONTESTS, PROMOTIONS OR SWEEPSTAKES ENTERED 

          INTO THROUGH THE WEBSITE, OR STATEMENTS OR CONDUCT OF ANY THIRD PARTY, OR 

          ANY OTHER MATTER RELATED TO THE WEBSITE, PRODUCTS AND SERVICES OR CONTENT. 

          YOU UNDERSTAND AND AGREE THAT YOUR USE OF THE WEBSITE IS PREDICATED UPON 

          YOUR WAIVER OF ANY RIGHT TO SUE THE UNIVERSITY AND ITS AFFILIATES DIRECTLY OR 

          TO PARTICIPATE IN A CLASS ACTION SUIT FOR ANY LOSSES OR DAMAGES RESULTING 

          FROM YOUR USE OF THE WEBSITE. CERTAIN STATE LAWS DO NOT ALLOW LIMITATIONS 

          ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES. IF 

          THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE DISCLAIMERS, EXCLUSIONS, OR 

          LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MIGHT HAVE ADDITIONAL RIGHTS.
        %h5
          Governing Law & Venue and Jurisdiction
        %p
          By visiting or using the Website, you agree that the laws of New Zealand, without regard 

          to principles of conflict of laws, will govern these Terms of Use and any dispute of any sort 

          that might arise between you and the University. Any dispute pertaining to this Agreement, 

          except those disputes subject to mediation, shall be brought exclusively in a court of 

          competent jurisdiction within New Zealand.
        %h5
          Indemnity
        %p
          You agree to defend, indemnify, and hold harmless the University, its affiliates, its 

          contractors, and all of their respective directors, officers, employees, representatives, 

          proprietors, partners, shareholders, servants, principals, agents, predecessors, successors, 

          assigns, accountants, and attorneys from and against any and all suits, actions, claims, 

          proceedings, damages, settlements, judgments, injuries, liabilities, obligations, losses, risks, 

          costs, and expenses (including, without limitation, attorneys’ fees and litigation expenses) 

          relating to or arising from your use of this Website, the use of any Third Party Sites or 

          Third Party Content, your reliance on any errors or omissions on the Website, your fraud, 

          violation of law, or wilful misconduct, and any breach by you of these Terms of Use as 

          stated herein or as modified from time to time in the University’s sole discretion.
        %h5
          Miscellaneous
        %p
          These Terms of Use constitute the entire agreement between you and the University 

          regarding the use of the Website and/or the Service, superseding any prior agreements 

          between you and the University relating to your use of the Website. The failure of the 

          University to exercise or enforce any right or provision of these Terms of Use shall not 

          constitute a waiver of such right or provision in that or any other instance. If any provision 

          of this Agreement is held invalid, the remainder of this Agreement shall continue in full 

          force and effect. If any provision of this Agreement shall be deemed unlawful, void or for 

          any reason unenforceable, then that provision shall be deemed severable from these Terms 

          of Use and shall not affect the validity and enforceability of any remaining provisions.
        %h5 Source
        %p 
          These terms of use were adapted from the Ask Them website's 
          = link_to "Terms of Service", "http://www.askthem.io/terms-of-service", :target => "_blank"
          under the 
          = link_to "Creative Commons Attribution 3.0 License.", "https://creativecommons.org/licenses/by/3.0/nz/", :target => "_blank"

