.row
  .col-md-offset-2.col-md-8
    %p.invitation-not-found
      Sorry, it looks like this invitation may have already been used, or you may already be a member of the party. If you're having troubles contact the person who sent it to you.
