.row
  .col-xs-12.col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-heading
        %h1.panel-title Edit #{@embedded_topic.name}
      .panel-body
        = simple_form_for [:rnz_admin, @embedded_topic] do |f|
          = f.input :name
          = f.submit 'Update topic', class: 'btn btn-primary'
