%a.question-filter.question-filter-first.col-xs-3.text-center{ href: '/' }
  Trending
%a.question-filter.col-xs-3.text-center{ href: '/new_questions' }
  Newest
%a.question-filter.col-xs-3.text-center{ href: '/' }
  Best
%a.question-filter.col-xs-3.text-center{ href: '/' }
  &middot; &middot; &middot;
