%ul.list-group
  - questions.each do |question|
    %li.list-group-item
      .row
        .col-xs-1
          #{question.votes_count}
        .col-xs-8
          = question.name
        .col-xs-3.right-align
          - if showing_approved_questions?
            = link_to "Unapprove", unapprove_rnz_admin_question_path(question), class: 'btn btn-primary btn-sm assign-btn', method: :patch
          - else
            = link_to "Approve", approve_rnz_admin_question_path(question), class: 'btn btn-primary btn-sm assign-btn', method: :patch
