.answers-expanded-container hr {
  margin-top: 16px;
  margin-bottom: 0;
  border-color: $gray-extra-light;
}
ul.answers-expanded {
  padding-top: 20px;
  padding-left: 0px
}
.answers-expanded-item {
  padding-bottom: 20px;
  display: block;
  .rep-answer-name {
    display: inline-block;
    padding-right: 5px;
  }
  .rep-answer-detail {
    display: inline-block;
  }
}
.col-rep-avatar {
  text-align: right;
  /* @media (max-width: $screen-xs-max) { } */
}
