.answer {
  font-family: $font-family-helvetica;
}
.answer-footer {
  font-size: $font-size-extra-small;
  @media (max-width: $screen-xs-max) {
    font-size: $font-size-extra-small-xs;
  }
  font-weight: 300;
}
.answer-form-container {
  margin-bottom: 15px;
  font-size: $font-size-small;
}
.no-answers .answer-form-container {
  margin-top: 15px;
}
