.answers-preview {
  @include clearfix();
  padding-top: 8px;
  margin-bottom: -3px;
}
.answers-preview-count {
  float: left;
  padding-right: 10px;
  border-right: 1px solid $gray-extra-light;
  line-height: 31px;
  height: 36px;
  margin-bottom: 4px;
}
.answers-preview-count-number {
  vertical-align: middle;
  font-size: $font-size-medium-large;
  font-weight: 300;
}
.answers-preview-count-text {
  vertical-align: middle;
  padding-left: 2px;
  font-size: $font-size-extra-small;
  color: $gray-light;
  font-weight: 300;
}
.answers-preview-avatars {
  float: left;
  margin-left: 5px;
  line-height: 30px;
}
.answers-preview-avatar img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0 3px;
}
