.answers-expanded-container hr {
  margin-top: 16px;
  margin-bottom: 0;
  border-color: $gray-extra-light;
}
ul.answers-expanded {
  padding-top: 20px;
  padding-left: 0px
}
body.questions.show ul.answers-expanded {
  padding-top: 0px;
}
li.answers-expanded-item {
  padding-bottom: 20px;
  list-style: none;
}
.answers-expanded-see-comments-padded {
  margin-top: 10px;
}
