.navbar-btn-ask {
  color: white;
  background-color: $teal;
  border-color: $teal;
  &:hover {
    background-color: $teal-dark;
    border-color: $teal-dark;
  }
}

@media (min-width: 992px) {
  .navbar-btn-ask {
    margin-left: 20px;
  }
}