.comments-count {
  color: $gray-light;
  font-size: $font-size-small;
}

.comments-input {
  padding-top: 15px;
  padding-bottom: 5px;
}

.comment-user-name {
  font-size: $font-size-small;
  font-weight: 600;
}

.comment-body {
  font-size: $font-size-small;
  font-weight: 200;
}
