.comment-count {
  color: $gray-light;
  font-size: $font-size-small;
}
.comment-input {
  padding-top: 15px;
  padding-bottom: 5px;
}
.comment {
  font-family: $font-family-helvetica;
}
.comment-detail {
  padding-left: 5px;
  display: inline-block;
}
.comment-avatar {
  margin-top: 3px;
  border-radius: $avatar-radius;
  height: 40px;
  width: 40px;
}
.comment-name, .comment-body {
  font-size: $font-size-small;
}
.comment-name {
  font-weight: 500;
}
.comment-body {
  font-weight: 300;
  p {
    margin-bottom: 6px;
  }
}
