.footer {
  background-color: #E9E8E8;
  padding-top: 40px;
  .text-detail {
    font-size: $font-size-extra-small;
  }
}

.footer .text-detail {
  font-size: 16px;
  margin-top: 10px;
}
.footer .text-detail a{
  color: #4f8aff;
}

.footer-container {
    padding: 15px;
}

.DandD img {
  width: 80%;
}

.massey img {
  width: 100%;
}

.openlab img {
  width: 70%;
}

.codefor {
  margin-top: 5px;
}

.footer-text {
  margin: 0;
}

// /* Sticky footer styles
// -------------------------------------------------- */
$footer-height: 240px;

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: $footer-height;
  @media (min-width: $container-tablet) {
    min-height: 800px;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
}
