.landing-page {
  background: url('matt-rose-bg4.jpg') no-repeat;
  background-attachment: fixed;
  background-position: right top;
  background-size: cover;
  //background-size: ;
  //background-size: contain;
  //h1 {font-family: 'Crete Round', serif;}
  h1, h2, h3, h4 {
    font-family: 'Lato', sans-serif;
  }
  .logo {
    display: inline-block;
    background: url('trial-aa-logo-white.png') no-repeat;
    background-size: contain;
    width: 120px;
    height: 120px;
  }
  .logotype {
    display: inline-block;
    font-weight: 900;
    color: white;
  }
  .container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .main-content {
    h3, h4 {
      font-weight: 200;
    }
    color: white;
    margin-top: 100px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  }
  .cta {
    h3, h4 {
      font-weight: 200;
    }
    color: white;
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.55);
    width: 51%;
    padding: 2%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    input {
      height: 37px;
      margin: 0 0 1px; 
      min-width: 74%;
      padding-left: 10px;
      border-radius: 4px 0 0 4px;
      -webkit-border-radius: 4px 0 0 4px;
      border-color: 1px inset;
    }
    ::-webkit-input-placeholder {
    font-style: italic;
    //padding-left: 6px;
  }

  :-moz-placeholder { /* Firefox 18- */
      font-style: italic;
      padding-left: 6px; 
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    font-style: italic;
    padding-left: 6px; 
  }

  :-ms-input-placeholder {
    font-style: italic;
    padding-left: 6px;  
  }
}
  .collect-email {
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
    width: 100%;
  }
   h4.sign-up {
    margin: 0;
   }
   .btn-email {
    display: inline-block;
    background-color: #ed5b2a;
    padding: 10px;
    height: 18px;
    margin-left: -5px;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    width: 15%;
    text-align: center;
    border-bottom: solid 4px #db5225;
   }
  .share-btns {
    color: white;
    width: 48%;
    padding: 10px;
    margin-top: 10px;
    display: inline-block;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    cursor: pointer;
    border-radius: 4px;
    -webkit-border-radius: 4px;
  }
  .FB-box {
    background: #43609C;
    margin-right: 1%;
    border-bottom: solid 4px #314e89;
  }
  .facebook-icon, .twitter-icon {
    height: 30px;
    width: 30px;
    margin-left: 10px;
    display: inline-block;
  }
  .facebook-icon {
    background: url('FB-icon.png') no-repeat;
    background-size: contain;
  }
  .twitter-icon {
    background: url('twitter-icon.png') no-repeat;
    background-size: contain;
    position: relative;
    top: 5px;
  }
  .facebook {
    font-size: 18px;
    padding-top: 7px;
    display: inline-block;
    vertical-align: top;
  }
  .Tw-box {
    background: #55ACEE;
    position: inherit;
    border-bottom: solid 4px #409cdd;
  }
  .twitter {
    background-position: 0% 32%;
    font-size: 18px;
    height: 30px;
    padding-left: 44px;
    margin-left: 5px;
    padding-top: 7px;
  }
  .extra-content {
    width: 100%;
    background-color: white;
    padding: 2%;
    padding-top: 0;
    margin-top: 20px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    padding-bottom: 20px;
  }
  .extra-content h3 {
    color: #444;
  }
  .col-50 {
    display: inline-block;
    width: 48%;
    vertical-align: top;
  }
  .col-50 p {
    font-weight: 200;
    font-size: 16px;
  }
  .about {
    margin-right: 2%;
  }

  @media all and (max-width: 480px) {
    background: #222 url('matt-rose-bg-sm2.jpg') no-repeat;
    background-size: contain;
  }

  @media all and (max-width: 768px) {
    .container{
      margin-left: 9px;
      padding-top: 20px;
    }
    .logo {
      width: 70px;
      height: 70px;
    }
    .main-content {
      margin-top: 20px;
    }
    .main-content h3 {
      font-size: 1.2em;
      line-height: 1.2em
    }
    .cta {
      width: 100%;
      input {
        width: 94%;
        height: 27px;
        border-radius: 4px;
        -webkit-border-radius:4px;
      }
      .btn-email {
        width: 92%;
        height: 14px;
        margin-left: 0;
        border-radius: 4px;
        -webkit-border-radius:4px;
        font-size: 14px;
        line-height: 14px;
        margin-top: 4px;
        border-bottom: solid 2px #db5225;
      }
      .share-btns {
        width: 48%;
        height: 35px;
        border-radius: 4px;
        -webkit-border-radius:4px;
        margin-top: 4px;
        vertical-align: top;
      }
      .FB-box {
        border-bottom: solid 2px #314e89;
      }
      .Tw-box {
        border-bottom: solid 2px #409cdd;      
      }
      .facebook, .twitter {
        font-size: 14px;
        line-height: 8px;
        padding-top: 0;
        height: 17px;
        vertical-align: middle;
      }
      .facebook-icon, .twitter-icon {
        height: 17px;
        width: 17px;
      }
      .twitter-icon {
        top: 2px;
      }
    }
    .cta h4 {
      font-size: 1.2em;
      line-height: 1.2em
    }
    .col-50 {
      width: 92%;
      padding-left: 4%;
      padding-right: 4%;
    }
  }
}

@media all and (min-width: 992px) {
  .Tw-box:hover {
    background: #409cdd;
  }
  .FB-box:hover {
    background: #314e89;
  }
  .btn-email:hover {
    background-color: #db5225;
  }
}

