.landing-page {
  background: url('blurred.png') no-repeat;
  //h1 {font-family: 'Crete Round', serif;}
  h1, h2, h3, h4 {
    font-family: 'Lato', sans-serif;
  }

  h3, h4 {
    font-weight: 200;
  }
  .logo {
    display: inline-block;
    background: url('mark-logo.png') no-repeat;
    background-size: contain;
    width: 100px;
    height: 70px;
  }
  .logotype {
    display: inline-block;
    font-weight: 900;
    color: white;
  }
  .container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .main-content {
    color: white;
    margin-top: 100px;
  }
  .cta {
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.55);
    width: 51%;
    padding: 2%;
    input {
      height: 37px;
      margin: 0 0 1px; 
      min-width: 80%;
    }
    ::-webkit-input-placeholder,:-moz-placeholder,::-moz-placeholder,:-ms-input-placeholder {
      font-style: italic;
      padding-left: 6px;
    }

  }
  .collect-email {
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
    width: 100%;
  }
   h4.sign-up {
    margin: 0;
   }
   .btn-email {
    display: inline-block;
    background-color: #ed5b2a;
    padding: 10px;
    font-size: 18px;
    height: 23px;
    margin-left: -5px;
   }
  .share-btns {
    color: white;
    width: 49%;
    padding: 10px;
    margin-top: 10px;
    display: inline-block;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
  }
  .FB-box{
    background: #43609C;
    margin-right: 1%;
  }
  .facebook {
    background: url('FB-icon.png') no-repeat;
    font-size: 18px;
    height: 30px;
    padding-left: 27px;
    margin-left: 10px;
    padding-top: 7px;
  }
  .Tw-box{
    background: #55ACEE;
  }
  .twitter {
    background: url('twitter-icon.png') no-repeat;
    background-position: 0% 32%;
    font-size: 18px;
    height: 30px;
    padding-left: 44px;
    margin-left: 5px;
    padding-top: 7px;
  }
}


