.list-group-item.comment-count {
  padding-top: 5px;
  padding-bottom: 5px;
}
.list-group-item-clickable {
  color: #333;
}
a.list-group-item-clickable:hover, .list-group-item-clickable:hover {
  background-color: #eee;
  cursor: pointer;
}
.list-group-item-clickable-header {
  color: #555;
}
.list-group-item-clickable-header:hover {
  color: #555;
}
