.list-group-item.comments-count {
  padding-top: 5px;
  padding-bottom: 5px;
}
.list-group-item-clickable {
  color: #555;
}
.list-group-item-clickable:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
.list-group-item-clickable-header {
  color: #555;
}
.list-group-item-clickable-header:hover {
  color: #555;
}
