body {
  background: #EEE url('');
  font-family: 'Lato', sans-serif;
  padding-top: 50px;
  font-size: 16px;
}

/* For when we start including background images */
// @media all and (min-width: 480px) {
//   body {
//     background: #EEE url('') no-repeat;
//     background-attachment: fixed;
//     background-size: cover;
//   }
// }
