body {
  background: #EEE url(image_path('bw-fair.jpg')) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  @media (max-width: $screen-xs-max) {
    font-size: $font-size-base-xs;
    background: #AAA;
  }
}

.btn {
  font-family: $font-family-lato;
}

.row-no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.user-title {
  font-size: $font-size-large;
  font-weight: 400;
}

.user-questions-title {
  font-size: $font-size-base;
  font-weight: 400;
}

.avatar {
  border-radius: $avatar-radius;
}
.avatar-choice-icon {
  @include square(64px);
}
.avatar-choice-text {
  margin-top: 17px;
}
.fa.avatar-upload-icon {
  line-height: 64px;
  width: 64px;
  text-align: center;
}

.uv-icon {
  @media (max-width: $screen-xs-max) {
    display: none !important;
  }
}
