body {
  background: #EEE;
  padding-top: 50px;
}

.btn-primary {
  color: white;
  background-color: $teal;
  border-color: $teal;
  &:hover {
    background-color: $teal-dark;
    border-color: $teal-dark;
  }
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #45A5A5;
  border-color: #67B4BB;
}

/* For when we start including background images */
// @media all and (min-width: 480px) {
//   body {
//     background: #EEE url('') no-repeat;
//     background-attachment: fixed;
//     background-size: cover;
//   }
// }
