body {
  padding-top: $body-navbar-padding;
  @media (max-width: $screen-xs-max) {
    padding-top: $body-navbar-padding-mobile;
  }
}

.navbar {
  background-color: white;
  .navbar-col { padding: 0; }

  .navbar-brand {
    padding: 10px;
    .navbar-brand-img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .navbar-user-actions {
    margin: 1px;
    .user-settings-dropdown {
      padding: 6px 0px;
      img {
        border-radius: 4px;
        @include square($avatar-navbar-size)
      }
    }
  }
  li.dropdown {
    a.dropdown-toggle {
      color: $gray-light;
      &:hover {
        text-decoration: none;
        color: $gray;
      }
    }
    .dropdown-icon {
      color: $gray-light;
      margin-right: 5px;
      font-size: 14px;
    }
    .dropdown-icon.fa {
      font-size: 16px;
    }
  }
}

.alert-flash {
  font-size: $font-size-small;
  @media (max-width: $screen-xs-max) {
    margin: 0;
  }
}
.alert-flash-col {
  padding: 0;
}
