body {
  padding-top: $body-navbar-padding;
  @media (max-width: $screen-xs-max) {
    padding-top: $body-navbar-padding-mobile;
  }
}

.navbar-nav {
  @media (max-width: $grid-float-breakpoint) {
    margin: 0 (-$navbar-padding-horizontal);
    a {
      margin: 0;
    }
  }
}

.navbar {
  background-color: white;
  .navbar-col { padding: 0; }

  .navbar-brand {
    padding: 10px;
    .navbar-brand-img {
      height: 30px;
      width: auto;
    }
    .navbar-brand-img-notype {
      height: 30;
    }
  }

  .logotype {
    font-weight: 500;
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
  }

  .navbar-nav > li > a.user-settings-dropdown {
    padding-top: 9px;
    padding-bottom: 9px;
    img {
      @include square($avatar-navbar-size)
    }
  }

  @media (max-width: $grid-float-breakpoint) {
    .navbar-btn-ask {
      display: block;
      text-align: left;
      font-family: $font-family-base;
      color: $navbar-default-link-color;
      &:hover,
      &:focus {
        color: $navbar-default-link-hover-color;
        background-color: $navbar-default-link-hover-bg;
      }
      background-color: transparent;
      border: none;
      padding: $nav-link-padding;
      padding-top:    10px;
      padding-bottom: 10px;
      line-height: $line-height-computed;
    }
  }
  li.dropdown {
    a.dropdown-toggle {
      color: $gray-light;
      &:hover {
        text-decoration: none;
        color: $gray;
      }
    }
    .dropdown-icon {
      color: $gray-light;
      font-size: 16px;
      margin-right: 3px;
      width: 16px;
    }
  }
}

.alert-flash {
  font-size: $font-size-small;
  @media (max-width: $screen-xs-max) {
    margin: 0;
  }
  .close { margin-top: -6px; }
}
.alert-flash-col {
  padding: 0;
}
