.profile-description {
  font-weight: 300;
}
.profile-heading {
  font-weight: 400;
}

// Answers
p.profile-answers-question {
  font-size: $font-size-small;
  margin-bottom: 5px;
}
p.profile-answers-answer {
  font-size: $font-size-small;
  margin-bottom: 5px;
}
