.list-group-item.question-filters {
  padding: 0;
  @media (max-width: $screen-xs-max) { border-radius: 0; }
}
.question-filter {
  color: $gray-light;
  font-weight: 400;
  font-family: $font-family-lato;
  padding: 11px 0 8px;
  font-size: $font-size-small;
  @media (max-width: $screen-xs-max) {
    padding: 13px 0 10px;
    font-size: $font-size-small-xs;
  }
  &:hover {
    color: $gray;
    border-bottom: 4px solid #EAF066;
    text-decoration: none;
  }
}
.question-filter-selected {
  color: $gray;
  border-bottom: 4px solid #EAF066;
}
