.heading {
 color: $gray-light;
 font-size: 20px;
}
.question {
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  margin-bottom: 0;
  a {
    color: $gray-dark;
    &:hover {
      text-decoration: none;
    }
  }
}
.question__up-vote {
  text-align: center;
  padding-top: 5px;
  a {
  }
  .question__votes-count {
    min-width: 17px;
    display: inline-block;
    color: $gray-light;
  }
  .fa-chevron-up-voted {
    color: #FE7A15;
  }
}
.question__body {
  font-size: 20px;
  font-weight: 200;
  line-height: 1.4;
}
.question__asker {
  margin: 10px 0;
  font-weight: 300;
  color: $gray-light;
  a {
    color: $gray-light;
  }
}
.answers {}
.answers__count {
  display: inline-block;
  vertical-align: top;
}
.answers__list {
  border-left: 1px solid $gray-light;
  padding-left: 10px;
  margin-left: 10px;
  display: inline-block;
}
.answers__rep-pic {
  border: 1px solid black;
  border-radius: 50%;
  width: $font-size-large + 7;
  height: $font-size-large + 7;
  margin: 0 3px;
}
.question__share {
  margin-top: 10px;
  color: $gray-light;
}
