.col-question-list { padding: 0; }

.question {
  font-family: $font-family-helvetica;
  .question-expanded {
    &.list-group-item-clickable:hover {
      background-color: white;
    }
  }
  @media (max-width: $screen-xs-max) {
    border-left: none;
    border-right: none;
  }
  &.list-group-item { padding: 20px 20px 16px 15px; }

  &.list-group-item.question-filters {
    padding: 0;
    .question-filter {
      border-left: 1px solid #ccc;
      padding: 13px 0 10px;
    }
    .question-filter-first { border-left: none }
    @media (max-width: $screen-xs-max) { border-radius: 0; }
  }
}

/* .question-col-main > .row > .col-xs-12 {
 *   @media (max-width: $screen-xs-max) {
 *     padding-left: 0;
 *   }
 * } */

/* .question.list-group-item {} */
.question-body {
  font-size: $font-size-medium-large;
  @media (max-width: $screen-xs-max) {
    font-size: $font-size-medium-large-xs;
  }
  font-weight: 300;
  line-height: 1.4;
}

.col-question-up-vote {
  text-align: center;
  font-size: $font-size-base;
  @media (max-width: $screen-xs-max) { text-align: right; }
  .question-up-vote {
    display: inline-block;
    min-width: $avatar-asker-size-xs;
    text-align: center;
  }
  .question-up-vote-count { color: $gray-light; }
  .fa-chevron-up {
    color: #888;
    &:hover { color: #333; }
    &.fa-chevron-up-voted { color: #FE7A15; }
  }
}

.col-asker-avatar { text-align: right; }

.question-asker-avatar {
  display: inline-block;
  margin-top: 6px;
  img {
    border-radius: $avatar-radius;
    @include square($avatar-asker-size);
  }
}

/* .question-asker-row { */
.row-question-asker {
  @media (max-width: $screen-xs-max) { margin-top: 8px; }
  .question-asker-avatar {
    margin-top: 0;
    img { @include square($avatar-asker-size-xs); }
  }
  .question-asker-details {
    margin-top: 4px;
    display: inline;
  }
}

