.question-up-vote {
  text-align: center;
  padding: 5px 0 0 12px;
  .fa-chevron-up {
    color: #888;
    &:hover {
      color: #333;
    }
    &.fa-chevron-up-voted {
      color: #FE7A15;
    }
  }
}
.question-up-vote-count {
  color: $gray-light;
}
.question-body {
  font-size: $font-size-medium-large;
  font-weight: 200;
  line-height: 1.4;
  a:hover {
    text-decoration: none;
  }
}
.question.list-group-item {
  padding: 20px 20px 20px 15px;
}
