.medium-large-text {
  font-size: $font-size-medium-large;
}

h1 {
  font-size: $font-size-large + 14;
}

h2 {
  font-size: $font-size-large + 8;
}

h3, {
  font-size: $font-size-large + 4;
}

h1, h2, {
  font-family: $font-family-lato;
  font-weight: bold;
}

.text-detail {
  color: $gray-light;
  font-size: $font-size-extra-small;
  @media (max-width: $screen-xs-max) {
    font-size: $font-size-extra-small-xs;
  }
  line-height: 20px;
  font-weight: 300;
  a {
    color: $gray-light;
  }
  .emphasized {
    font-weight: 500;
  }
}

.gray-light {
  color: $gray-light;
}

.thin { font-weight: 300; }

.right-align { text-align: right; }

.fb-like {
  display: inline-block;
  width: 76px;
  height: 20px;
}
.twitter-share-button {
  display: inline-block;
  width: 110px;
  height: 20px;
  vertical-align: bottom;
}
