.medium-large-text {
  font-size: $font-size-medium-large;
}

h1 {
  font-size: $font-size-large + 14;
}

h2 {
  font-size: $font-size-large + 8;
}

h3, h4, h5, h6 {
  font-size: $font-size-large + 4;
}

