/ - unless session[:announcement_dismissed]
/   .container
/     .row(ng-controller='AnnouncementsCtrl')
/       .col-xs-12.col-md-8.col-md-offset-2.alert-flash-col
/         %div{class: 'alert alert-flash alert-success'}
/           %button{type: 'button', class: 'close', :'data-dismiss' => 'alert', :'aria-hidden' => 'true', ng_click: 'dismissAnnouncement();'} &times;
/           %div
/           %strong Welcome to Ask Away - we're launching August 8th!
/           %br
/           - if current_user.try(:is_rep?)
/             We've put a couple of preview questions on the site. Feel free to try out answering them. And until we launch, 
/             %em please don't share this link.
/             Thanks!
/           - else
/             In the meantime, please don't share this link. Thanks!

- flash.each do |name, msg|
  - flash_class = 'alert alert-flash'
  - flash_class += ' alert-success' if name == 'notice'
  - flash_class += ' alert-warning' if name == 'alert'
  .container
    .row
      .col-xs-12.col-md-8.col-md-offset-2.alert-flash-col
        %div{class: flash_class}
          %button{type: 'button', class: 'close', :'data-dismiss' => 'alert', :'aria-hidden' => 'true'} &times;
          %div= msg

