.footer
  .container
    .row
      .col-question-list.col-xs-12.col-md-8.col-md-offset-2.footer-container
        .row
          .col-xs-3
            .DandD.img-responsive
              %a{href: "http://designdem.ac.nz"}
              = image_tag 'DandDlogo.png'
          .col-xs-3
            .massey.img-responsive
              %a{href: "http://massey.ac.nz"}
              = image_tag 'footerMasseyLogo.png'
          .col-xs-3
            %h4.codefor Code for NZ
          .col-xs-3
            .openlab.img-responsive
              %a{href: "http://openlab.ac.nz"}
              = image_tag 'footerOpenLabLogo.png'
        .row.footer-text
          %p.text-detail
            Authorised by Meg Howie, Te Ara Hihiko, Massey University, Wallace St, Wellington.
            %br
            This work is licensed under a
            = succeed "." do
              %a{href: "http://creativecommons.org/licenses/by-nc/3.0/deed.en_US", rel: "license", target: "_blank"} Creative Commons Attribution-NonCommercial 3.0 Unported License
