%meta{:charset => "utf-8"}
%meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
%title= content_for?(:title) ? yield(:title) : "Ask Away"
%meta{:content => yield(:description), :name => "description"}
%meta{:content => "Meg Howie", :name => "author"}
%meta{:content => "1059799116", :property => "fb:admins"}
%meta{:content => "217700340", :property => "fb:admins"}
%meta{:content => content_for?(:title) ? yield(:title) : 'Ask Away', :property => "og:title"}
%meta{:content => "website", :property => "og:type"}
%meta{:content => request.original_url, :property => "og:url"}
%meta{:content => yield(:description), :property => "og:description"}
%meta{:content => image_url('square-logo.png'), :property => "og:image"}
= csrf_meta_tags
= stylesheet_link_tag "application", :media => "all"
/ fonts added by meg
%link{:href => "http://fonts.googleapis.com/css?family=Lato:300,400,700", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "/AA.png", :rel => "shortcut icon", :type => "image/png"}/

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

= javascript_include_tag "application"
