.modal-dialog
  .modal-content
    .modal-header
      %button.close{:type => 'button', 'data-dismiss' => 'modal'}
        x
      %h4.modal-title Log In
    .modal-body
      - flash.each do |name, msg|
        - if name == :alert
          %div{class: 'alert alert-warning'}
            %div= msg

      = render 'social_login_buttons'
