= link_to user_omniauth_authorize_path(:facebook), class: 'btn btn-primary btn-facebook btn-lg btn-block login-social-btn' do
  %span.fa.fa-facebook.login-social-icon
  Log in with Facebook
= link_to user_omniauth_authorize_path(:google_oauth2), class: 'btn btn-danger btn-lg btn-block login-social-btn' do
  %span.fa.fa-google.login-social-icon
  Log in with Google
= link_to user_omniauth_authorize_path(:twitter), class: 'btn btn-info btn-lg btn-block login-social-btn' do
  %span.fa.fa-twitter.login-social-icon
  Log in with Twitter
