%li
  = link_to user_path(current_user) do
    %span.fa.fa-user.dropdown-icon
    My profile
- if current_user.is_rep?
  %li
    = link_to party_path(current_user.party) do
      %span.fa.fa-group.dropdown-icon
      My party
%li
  = link_to edit_user_path(current_user) do
    %span.fa.fa-gear.dropdown-icon
    Account settings
%li= link_to 'Log out', destroy_user_session_path, method: :delete
