.welcome-banner.media
  %span.pull-left
    .img-responsive.logo-full.hidden-xs
      =image_tag "white-logo.svg"
  %div.media-body
    %h1 Welcome to Ask Away
    %h3 Ask the parties your questions this election
    %button.btn.btn-primary.hidden-xs{"data-target" => "#HowItWorks", "data-toggle" => "modal"}
      How does it work?

.modal.fade#HowItWorks.how-it-works
  .modal-dialog
    .modal-content
      .modal-header
        %span.how-it-works-header How it works
        %button.close{"data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
      .modal-body
        .row
          .col-sm-4
            .img-responsive.icon
              =image_tag "ask.svg"
            %p
              1. Ask a question for all the parties to answer
          .col-sm-4
            .img-responsive.icon
              =image_tag "vote.svg"
            %p
              2. Vote for the questions you think are important
          .col-sm-4
            .img-responsive.icon
              =image_tag "answer.svg"
            %p
              3. The parties will answer the most popular questions each day
      .modal-footer
        = link_to "More about Ask Away", "/about", :class => "pull-left"
        %button.btn.btn-primary{"data-dismiss" => "modal", type: "button"} Got it

