.welcome-banner.media
  %span.pull-left
    .img-responsive.logo-full.hidden-xs
      =image_tag "white-logo.svg"
  %div.media-body
    %h1 Welcome to Ask Away
    %h3 Ask the parties your questions this election
    %button.btn.btn-primary.hidden-xs{"data-target" => "#HowItWorks", "data-toggle" => "modal"}
      How does it work?
